:root {
  --dark-bg-color: #222;
  --dark-color: #eee;
  --dark-button-focus-bg-color: #666666;
  --dark-button-open-bg-color: #444444;

  --light-bg-color: #222;
  --light-color: #eee;
  --light-button-focus-bg-color: #c9c9c9;
  --light-button-open-bg-color: #d9d9d9;

  --bg-color: var(--light-bg-color);
  --color: var(--light-color);
  --button-focus-bg-color: var(--light-button-focus-bg-color);
  --button-open-bg-color: var(--light-button-open-bg-color);
}

:root {
  --dark-bg-color: #222;
  --dark-color: #eee;
}

.dark {
  background: var(--bg-color);
  color: var(---color);
}

button {
  text-align: center;
  cursor: pointer;
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border: none;
  width: 100%;
  display: block;
}

button:focus {
  outline: none;
  background-color: var(--button-focus-bg-color);
}

button.is-open {
  background-color: var(--button-open-bg-color);
}

