:root {
  --dark-bg-color: #222;
  --dark-color: #eee;
  --dark-button-bg-color: #666666;
  --dark-button-focus-bg-color: #666666;
  --dark-button-active-bg-color: #444444;

  --light-bg-color: white;
  --light-color: black;
  --light-button-bg-color: #dddddd;
  --light-button-focus-bg-color: #c9c9c9;
  --light-button-active-bg-color: #d9d9d9;

  --bg-color: var(--light-bg-color);
  --color: var(--light-color);
  --button-bg-color: var(--light-button-bg-color);
  --button-focus-bg-color: var(--light-button-focus-bg-color);
  --button-active-bg-color: var(--light-button-active-bg-color);
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  
  background: var(--bg-color);
  color: var(--color);
}