:root {
  --dark-bg-color: #222;
  --dark-color: #eee;
}

.dark {
  background: var(--dark-bg-color);
  color: var(--dark-color);
}

button {
  cursor: pointer;
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border: none;

}

button:focus {
  outline: none;
  background-color: '#c9c9c9';
}

button.is-open {
  background-color: '#d9d9d9';
}

